/* 팝업 */
.pop-parent {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  transition: all 0.2s;
}

.pop-parent .m-ratioBox-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.pop-parent .m-ratioBox-wrap .m-ratioBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.pop-parent .m-ratioBox-wrap img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.pop-parent .m-ratioBox-wrap iframe {
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.pop-parent .swiper {
  overflow: hidden;
}
.pop-parent .swiper-container {
  overflow: visible;
}
.pop-parent .swiper-pagination {
  display: flex;
}
.pop-parent .pop {
  width: 400px;
  position: relative;
}
.pop-parent .pop .btn-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.pop-parent .pop .btn-toggle img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s;
}
.pop-parent .pop-btns {
  display: flex;
  position: absolute;
  top: 80px;
  left: -120px;
  background-color: #3c3c3c;
  opacity: 1;
  transform: rotate(90deg);
}
.pop-parent .pop-btns a {
  color: #fff;
  padding: 7px 14px;
}
.pop-parent .pop-btns #oneday_check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.pop-parent .pop-btns #oneday_check + label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.pop-parent .pop-btns #oneday_check + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.pop-parent .pop-btns #oneday_check:checked + label .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check_checked.png") no-repeat center center;
}

.pop-parent .pop .swiper-btn-control {
  width: 8px;
  height: 11px;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.pop-parent .swiper-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
}
.pop-parent .swiper-control .swiper-pagination {
  position: static;
}
.pop-parent .swiper-pagination-bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.5;
  background-color: transparent;
}
.pop-parent .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.pop-parent.active {
  right: -400px;
}
.pop-parent.active .btn-toggle {
  transform: rotate(180deg);
}

.pop-parent .pop .btn-close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
}

@media screen and (max-width: 1200px) {
  .pop-parent .pop {
    width: 310px;
  }
  .pop-parent.active {
    right: -310px;
  }
}

@media screen and (max-width: 768px) {
  .pop-parent {
    top: 50%;
    right: unset;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pop-parent .pop-btns {
    transform: translateY(100%);
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
  }
  .pop-parent .pop .btn-toggle {
    display: none;
  }
  .pop-parent .pop .btn-close {
    display: block;
  }
}

/* 폰트 */
/*FONT_HOUSE*/
@font-face {
  font-family: pretendard-l;
  src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: pretendard-m;
  src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: pretendard-r;
  src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: pretendard-b;
  src: url(../fonts/Pretendard-Bold.otf);
}
.font-pl {
  font-family: pretendard-l;
}
.font-pm {
  font-family: pretendard-m;
}
.font-pr {
  font-family: pretendard-r;
  font-weight: 500;
}
.font-pb {
  font-family: pretendard-b;
}

.main-slide-container {
  width: 100%;
  height: 100vh;
}
.main-slide-container .swiper.containerSwiper {
  width: 100%;
  height: 100vh;
}
.main-slide-container .swiper.containerSwiper .swiper-wrapper {
  width: 100%;
  height: 100vh;
}
.main-slide-container .swiper.containerSwiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container .video-item {
  position: absolute; /* 비디오를 겹치게 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1; /* 기본적으로 숨김 */
  transition: opacity 1s ease; /* 페이드 인 효과 */
}

/* .video-container .video-item.active {
  opacity: 1;
} */

.video-container .video-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}
.video-container .video-item video.active {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: 48px;
  width: fit-content;
}
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-top: 43px;
  margin-bottom: 43px;
  width: 8px;
  height: 8px;
}

.swiper-pagination-bullet {
  background-color: #e9e9e9;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #599224;
  opacity: 1;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  display: block;
  clear: both;
  content: "";

  top: -12px;
  left: -12px;
  border: 0.5px solid #599224;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-slide-container .containerSwiper .swiper-wrapper .swiper-slide {
  position: relative;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .slide-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  max-width: 821px;
  width: 100%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .slide-text-container
  .title {
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: 2.8px;
  color: #fff;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .slide-text-container
  .sub-title-wrap {
  padding: 16px 0;
  max-width: 498px;
  height: 70px;
  background-color: #fff;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .slide-text-container
  .sub-title-wrap
  .sub-title {
  font-size: 32px;
  line-height: 40px;
  color: #599224;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .slide-text-container
  .text {
  font-size: 18px;
  opacity: 0.8;
  color: #fff;

  margin-top: 40px;
}
/* 비디오 컨트롤러 스타일 */
.video-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #fff;
  z-index: 10;

  margin-top: 32px;
}

/* 비디오 선택 버튼 */
.video-nav {
  display: flex;
  gap: 16px;
}

.btn-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-wrap .nav-btn {
  background: none;
  border: none;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
  font-size: 12px;
}
.btn-wrap .nav-btn.active {
  text-decoration: underline;
  opacity: 1;
}

/* 진행 상태 바 */
.progress-bar-container.active {
  width: 50px;
  height: 1px;
  background-color: #fff;
  opacity: 0.6;
  overflow: hidden;
}

.progress-bar {
  width: 0;
  height: 100%;
  background: #ffffff;
}

/* 재생/일시정지 버튼 */
.play-btn i {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.pause-btn i {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.6;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 140px;
  gap: 180px;
  position: relative;

  overflow: hidden;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .circle-deco {
  position: absolute;
  top: -51px;
  right: -41px;

  width: 311px;
  height: 307px;

  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}
.main-slide-container .containerSwiper .swiper-wrapper .swiper-slide.overview {
  position: relative;
  overflow: hidden;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .circle-deco-2 {
  position: absolute;
  bottom: -170px;
  left: -50px;

  width: 311px;
  height: 307px;

  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .sub-title {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 3.6px;
  text-align: left;
  color: #5fc700;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .title {
  font-size: 48px;
  line-height: 1.4;
  text-align: left;
  color: #202020;

  margin-top: 16px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .text {
  font-size: 18px;
  line-height: 1.67;
  color: #707070;

  margin-top: 39px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .main-btn-wrap {
  position: relative;
  width: fit-content;
  margin-top: 56px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .main-btn-wrap
  .deco {
  position: absolute;
  width: 80px;
  height: 80px;

  top: -8px;
  left: -8px;
  z-index: -1;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .main-btn-wrap
  .main-text-wrap-btn {
  width: 64px;
  height: 64px;
  background-color: #5fc700;
  border-radius: 50%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-text-wrap
  .main-btn-wrap
  .main-text-wrap-btn
  i {
  font-size: 24px;
  color: #fff;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  max-width: 760px;
  max-height: 840px;
  overflow-y: scroll;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap::-webkit-scrollbar {
  display: none;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a {
  max-width: 360px;
  width: 100%;
  max-height: 481px;
  height: 100%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a {
  position: relative;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a.even {
  position: relative;
  padding-top: 40px;
  max-height: 521px;
  height: 100%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .work-img-wrap {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .work-img-wrap::after {
  display: block;
  clear: both;
  content: "";

  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #599224;
  opacity: 0.65;
  transition: height 0.5s ease;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .work-img-wrap.hover::after {
  height: 100%;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .work-img-wrap.even::after {
  display: block;
  clear: both;
  content: "";

  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0%;
  background-color: #599224;
  opacity: 0.65;
  transition: height 0.5s ease;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .work-img-wrap.hover.even::after {
  height: 100%;
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .text-wrap {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 50;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .text-wrap
  i {
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.6px;
  color: #fff;
  margin-top: 40px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .text-wrap
  .text {
  font-size: 17px;
  line-height: 1.53;
  color: #fff;
  text-align: left;
  margin-top: 30px;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide
  .main-flex-container
  .main-work-wrap
  a
  .text-wrap
  .title {
  font-size: 32px;
  line-height: 1.21;
  color: #fff;
}

.rotate-active {
  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container {
    padding-top: 0px;
    position: relative;
    height: 100%;

    justify-content: flex-start;
    padding-left: 240px;
  }

.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-task-img-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}
.main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-task-img-wrap
  .task-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-task-img-wrap
  .task-img.hidden {
    display: none;
  }

  .main-slide-container .containerSwiper .swiper-wrapper .swiper-slide.main-tasks .main-flex-container .main-text-wrap .text {
    margin-top: 32px;
  }
  .main-slide-container .containerSwiper .swiper-wrapper .swiper-slide.main-tasks .main-flex-container .main-text-wrap .title {
    margin-top: 32px;
  }

  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-text-wrap 
  .text-wrap.hidden{
    display: none;
  }

  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-text-wrap 
  .btn-wrap {
    display: flex;
    gap: 16px;
  }
  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-text-wrap 
  .btn-wrap
  .section-btn {
    font-size: 16px;
    line-height: 1.2;
  }
  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-text-wrap 
  .btn-wrap
  .section-btn.active {
    color: #599224;
  }

  
  .main-slide-container
  .containerSwiper
  .swiper-wrapper
  .swiper-slide.main-tasks
  .main-flex-container
  .main-text-wrap 
  .btn-wrap .dot {
    width: 3px;
    height: 3px;
    background-color: #aeaeae;
  }

  .swiper-slide.gallery {
    overflow: hidden;
  }

  .swiper-slide.gallery .gallery-info-wrap {
    position: relative;
    padding-top: 208px;
    padding-left: 240px;
    padding-right: 163px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .swiper-slide.gallery .gallery-info-wrap .text-wrap .text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 1.67;
    color: #707070;
  }
  .swiper-slide.gallery .gallery-info-wrap .text-wrap .title {
    margin-top: 20px;
    font-size: 40px;
    line-height: 1.4;
    color: #202020;
  }
  .swiper-slide.gallery .gallery-info-wrap .text-wrap .sub-title {
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #599224;
  }

  .swiper-slide.gallery .gallery-info-wrap .btn-container {
    display: flex;
    align-items: center;
    gap: 57px;
  }

  .swiper-slide.gallery .gallery-info-wrap .btn-container .main-btn-wrap {
    position: relative;
    width: fit-content;
  }

  .swiper-slide.gallery .gallery-info-wrap .btn-container .main-btn-wrap .main-text-wrap-btn{
    width: 64px;
    height: 64px;
    background-color: #5fc700;
    border-radius: 50%;

  }

  .swiper-slide.gallery .gallery-info-wrap .btn-container .main-btn-wrap .main-text-wrap-btn i {
  font-size: 24px;
  color: #fff;
}

  .swiper-slide.gallery .gallery-info-wrap .btn-container .main-btn-wrap .deco {
  position: absolute;
  width: 80px;
  height: 80px;

  top: -8px;
  left: -8px;
  z-index: -1;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .swiper-button-next:after, .swiper-button-prev:after {
  display: none;
  position: static;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: auto;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: auto;
}

.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap {
  margin-top: 20px;
  height: fit-content;
  display: flex;
  gap: 24px;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .list {
  width: 18px;
  height: 18px;
  position: relative;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .list i{
  font-size: 18px;
  color: #aeaeae;
}
.swiper-slide.gallery .gallery-info-wrap .btn-container .list-btn-wrap .list.first::after {
  position: absolute;
  display: block;
  clear: both;
  content: "";

  top: 3px;
  left : 30px;

  width: 1px;
  height: 70%;
  background-color: #e4e4e4;
}
.swiper-slide.gallery .gallery-info-wrap .circle-deco {
  position: absolute;
  top:137px;
  left: 86px;

  width: 361px;
  height: 356px;

  animation: rotate_image 6s linear infinite;
}

.swiper-slide.gallery .slide-gallery {
  margin-left: 151px;
  margin-top: 275px;

  width: 100%;
  height: 190px;

  background-color: #599224;
  border-top-left-radius: 50px;

  position: relative;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper {
  position: absolute;
  bottom: 67px;
  left: 89px;
  width: 100%;
  height: 357px;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper {
  width: fit-content;
  height: 100%;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article {
  width: 350px !important;
  height: 100%;

  border-radius: 8px;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .img-wrap {
  width: 100%;
  height: 257px;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .text-wrap {
  width: 100%;
  height: 101px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 24px;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .text-wrap .title {
  padding-top: 24px;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .text-wrap .text-wrap-btn {
  padding-top: 16px;
  display: flex;
  gap: 2px;
  align-items: center;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .text-wrap .text-wrap-btn .text {
  font-size: 14px;
  color: #599224;
}
.swiper-slide.gallery .slide-gallery .gallerySwiper .swiper-wrapper .article .text-wrap .text-wrap-btn i {
  font-size: 16px;
  color: #599224;
}

.swiper-slide.contact {
  display: flex;

}
.swiper-slide.contact {
  height: calc(100% - 259px) !important;
}
.swiper-slide.contact .contact-img-section {
  width: 50%;
  height: 100%;
  background: url(../images/contact_hand.png);
  background-color: #599224;
  background-blend-mode: multiply;
  opacity: 0.75;
  background-size: cover;
  position: relative;
}
.swiper-slide.contact .contact-section {
  width: 50%;
  height: 100%;
}

.swiper-slide.contact .contact-img-section .main-text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .sub-title {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;
  color: #fff;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .title {
  margin-top: 16px;
  font-size: 56px;
  line-height: 1.2;
  color: #fff;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .text {
  margin-top: 33px;
  font-size: 17px;
  line-height: 1.53;
  color: #FFF;
  opacity: 0.7;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info {
  margin-top: 40px;
  display: flex;
  gap: 18px;
  align-items: center;
  white-space: nowrap;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info.last {
  margin-top: 16px;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info .icon-wrap {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info .icon-wrap i{
  font-size: 25px;
  color: #599224;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info .text-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info .text-wrap .text {
  margin-top: 0;
  font-size: 17px;
  line-height: 1.53;
  color: #FFF;
  opacity: 1;
}
.swiper-slide.contact .contact-img-section .main-text-wrap .contact-info .text-wrap .dot {
  width: 3px;
  height: 3px;
  background-color: #fff;
}


.swiper-slide.contact .contact-section {
  padding-top: 184px;
  padding-left: 56px;
}
.swiper-slide.contact .contact-section .contact-form {
  max-width: 700px;
}
.contact-form .input-wrap-flex {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
  text-align: left;
}
.contact-form .input-wrap-flex .input-wrap {
  max-width: 320px;
  height: auto;
  width: 100%;
}
.contact-form .input-wrap-flex .input-wrap .info {
  height: auto;
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}
.contact-form .input-wrap-flex .input-wrap .info span {
  font-size: 18px;
  color: #a62624;
  margin-left: 4px;
}
.contact-form .input-wrap-flex .input-wrap input {
  max-width: 320px;
  height: 51px;
  width: 100%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  font-family: pretendard-r;
  font-size: 17px;
  padding-left: 16px;
}
.contact-form .input-wrap-flex .input-wrap input::placeholder {
  font-size: 16px;
  opacity: 0.5;
  line-height: 1.5;
  color: #202020;
  font-family: pretendard-r;
}

.contact-form .text-area-wrap {
  position: relative;
  max-width: 664px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;
}
.contact-form .text-area-wrap .info {
  font-size: 18px;
  color: #333;
  margin-bottom: 17px;
}
.contact-form .text-area-wrap .info span {
  font-size: 20px;
  color: #ff0400;
  margin-left: 4px;
}
.contact-form .text-area-wrap textarea {
  max-width: 664px;
  height: 243px;
  width: 100%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  font-size: 16px;
  font-family: pretendard-r;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
}
.contact-form .text-area-wrap textarea::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #202020;
  opacity: 0.5;
  font-family: pretendard-r;
}


.contact-form .accept-wrap {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  text-align: left;
}
.contact-form .accept-wrap > .title {
  font-size: 20px;
  color: #202020;
  margin-bottom: 15px;
}
.contact-form .accept-wrap .information-wrap {
  max-width: 1440px;
  width: 100%;
  padding: 32px 32px;
  background-color: #f9f9f9;
}
.contact-form .accept-wrap .information-wrap > .title {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap {
  display: flex;
  justify-content: left;
  align-items: first baseline;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap:not(:last-child) {
  margin-bottom: 8px;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap .text-title {
  max-width: 137px;
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  color: #999;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap .text-content {
  max-width: 1100px;
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  color: #999;
}

.contact-form .check-wrap {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
  text-align: left;
}
.contact-form .check-wrap label {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-form .check-wrap label input[type="checkbox"] {
  display: block;
  border-radius: 2px;
  border: solid 1.5px #bfbfbf;
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.contact-form .check-wrap label .check-info {
  font-size: 17px;
  color: #202020;
}
.contact-form .btn-submit {
  max-width: 664px;
  width: 100%;
  padding: 22px 0;
  background-color: #599224;
  font-size: 17px;
  color: #fff;
}
.contact-form .check-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contact-form .check-wrap .check-info-detail a {
  font-size: 17px;
  line-height: 0.15;
  color: #20992a;
  text-decoration: underline;
}

/* header, footer */

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
#header:hover {
  height: 330px;
  background-color: #fff;
}
#header:hover .header .header-top .header-nav-wrap .nav-wrap .nav {
  color: #202020;

}
#header:hover .header .header-top .header-nav-wrap .nav-wrap {
  position: relative;
}
#header:hover .header .header-top .header-nav-wrap:hover .wrap:hover .nav-wrap::after {
  position: absolute;

  bottom: -28px;
  left: 0px;

  display: block;
  clear: both;
  content: "";

  width: 100%;
  height: 2px;
  background-color: #599224;
}
#header:hover .header .header-top .call-wrap {
  border-color: #599224;
}
#header:hover .header .header-top .call-wrap a i {
  color: #202020;
}
#header:hover .header .header-top .call-wrap a .num {
  color: #202020;
}

.header .header-top {
  width: 100%;
  padding: 14px 80px;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .header-top .com-img-wrap {
  width: 295px;
  height: 52px;
}
.header .header-top .header-nav-wrap {
  display: flex;
  align-items: flex-start;
}

.header .header-top .header-nav-wrap .nav-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 52px;
}
.header .header-top .header-nav-wrap .nav-wrap .nav {
  font-size: 17px;
  color: #fff;
  line-height: 1.2;
}

.header .header-top .header-nav-wrap .nav-sub-wrap {
  display: none;
}
#header:hover .header .header-top .header-nav-wrap .nav-sub-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#header:hover .header .header-top .header-nav-wrap .nav-sub-wrap .nav-sub {
  width: 168px;
  height: 56px;
  font-size: 17px;
  line-height: 1.2;
  color: #202020;
}
#header:hover .header .header-top .header-nav-wrap .nav-sub-wrap .nav-sub:hover {
  text-decoration: underline;
}


.header .header-top .call-wrap {
  width: 155px;
  height: 43px;

  margin-top: 5px;
  padding: 12px 0;
  border: 1px solid #fff;
  border-radius: 22px;
}
.header .header-top .call-wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header .header-top .call-wrap a i {
  font-size: 19px;
  color: #fff;
}
.header .header-top .call-wrap a .num {
  font-size: 16px;
  color: #fff;
}

#footer {
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-right: 240px;
  padding-left: 160px;
  background-color: #484848;
}
.footer {
  height: 219px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footer-info-wrap .com-title-wrap {
  width: 286px;
  height: 44px;
}
.footer .footer-info-wrap .com-title-wrap .title-link {
  width: 100%;
  height: 100%;
}
.footer .footer-info-wrap .com-title-wrap .title-link img {
  width: 100%;
  height: 100%;
}
.footer .footer-info-wrap .com-information-wrap {
  margin-top: 31px;
}
.footer .footer-info-wrap .com-information-wrap .info {
  font-size: 14px;
  opacity: 0.7;
  line-height: 1.71;
  color: #fff;
}
.footer .footer-info-wrap .com-information-wrap .copyright {
  margin-top: 24px;
  font-size: 14px;
  opacity: 0.4;
  line-height: 1.2;
  color: #FFF;
}

.footer .footer-tel-wrap {
  width: 357px;
}
.footer .footer-tel-wrap .tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer .footer-tel-wrap .tel:not(:first-of-type) {
  margin-top: 32px;;
}
.footer .footer-tel-wrap .tel:not(:last-of-type)::after {
  position: absolute;
  display: block;
  clear: both;
  content: "";

  bottom: -16px;
  left: 0px;

  width: 100%;
  height: 1px;
  background-color: #707070;
}
.footer .footer-tel-wrap .tel .tel-info {
  font-size: 16px;
  line-height: 1.31;
  color: #fff;
}
.footer .footer-tel-wrap .tel .tel-num {
  font-size: 32px;
  color: #e4e4e4;
}

/* about sub01 */
.about-company {
  width: 100%;
  height: 100%;
}
.about-company .section-bg-wrap {
  width: 100%;
  height: 740px;
  overflow: hidden;
  position: relative;
}
.about-company .section-bg-wrap img {
  object-fit: contain;
  filter: brightness(60%);
}
.about-company .section-bg-wrap .text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-company .section-bg-wrap .text-wrap .title {
  text-align: center;
  font-size: 56px;
  line-height: 1.14;
  letter-spacing: 2.8px;
  color: #FFF;
} 
.about-company .section-bg-wrap .text-wrap .text {
  text-align: center;
  font-size: 18px;
  opacity: 0.8;
  color: #fff;
  line-height: 1.67;
  margin-top: 40px;
}
.about-company .section-change-btn {
  width: 100%;
  height: 59px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
.about-company .section-change-btn .section-btn {
  width: 288px;
  height: 59px;

  font-size: 18px;
  color: #202020;

  position: relative;
}
.about-company .section-change-btn .section-btn.able::after {
  position: absolute;
  display: block;
  clear: both;
  content: "";

  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: #599224;
}
.company-introduce {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.company-introduce .introduce-flex-container {
  padding-top: 120px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 39px;
}
.company-introduce .introduce-flex-container .text-wrap {
  text-align: left;
}
.company-introduce .introduce-flex-container .text-wrap .title {
  font-size: 40px;
  line-height: 1.4;
  color: #202020;
}
.company-introduce .introduce-flex-container .text-wrap .text {
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.67;
  color: #707070;
}
.company-introduce .introduce-flex-container .img-wrap {
  max-width: 830px;
  max-height: 518px;
}
.company-introduce  .circle-deco {
  position: absolute;
  bottom: -250px;
  right: -53px;

  width: 488px;
  height: 512px;

  animation: rotate_image 6s linear infinite;
  transform-origin: 50% 50%;
  z-index: -1;
}

.company-branch {
  padding-top: 120px;
  padding-bottom: 120px;

  width: 100%;
  text-align: center;
}
.company-branch .title {
  font-size: 40px;
  line-height: 1.4;
  color: #202020;
}
.company-branch .img-wrap {
  margin-top: 80px;
  max-width: 1440px;
  max-height: 640px;
  margin-left: auto;
  margin-right: auto;
}