<header class="header">
  <div class="header-top">
    <div class="com-img-wrap">
      <a href="../index.html">
        <img
          src="../images/logo_wrap/logo_not_hover.png"
          alt="주식회사 24시응급환자이송센터"
        />
      </a>
    </div>

    <nav class="header-nav-wrap">
      <div class="wrap">
        <div class="nav-wrap">
          <button class="nav font-pm">회사소개</button>
        </div>
        <div class="nav-sub-wrap">
          <button class="nav-sub font-pl"><a href="../about_sub01.html#companyintroduce" class="font-pl">인사말</a></button>
          <button class="nav-sub font-pl"><a href="../about_sub01.html#companybranch" class="font-pl">조직도</a></button>
        </div>
      </div>
      <div class="wrap">
        <div class="nav-wrap">
          <button class="nav font-pm">주요업무</button>
        </div>
        <div class="nav-sub-wrap">
          <button class="nav-sub font-pl"><a href="../task_sub01.html" class="font-pl">환자이송</a></button>
        </div>
      </div>
      <div class="wrap">
        <div class="nav-wrap">
          <button class="nav font-pm">행사의료지원</button>
        </div>
        <div class="nav-sub-wrap">
          <button class="nav-sub font-pl"><a href="../event_sub01.html" class="font-pl">행사의료지원</a></button>
        </div>
      </div>
      <div class="wrap">
        <div class="nav-wrap">
          <button class="nav font-pm">고객센터</button>
        </div>
        <div class="nav-sub-wrap">
          <button class="nav-sub font-pl">공지사항</button>
          <button class="nav-sub font-pl">자주 묻는 질문</button>
          <button class="nav-sub font-pl">문의하기</button>
        </div>
      </div>
    </nav>

    <div class="call-wrap">
      <a href="tel:1800-7432" class="call-number">
        <i class="xi-call"></i>
        <p class="num font-pr">1800-7432</p>
      </a>
    </div>
  </div>
</header>

<script>
  if (!location.pathname.endsWith("index.html") || !location.pathname === "/") {
    console.log("active");

    const header = document.getElementById("header");
    const logo = document.querySelector(
      ".header .header-top .com-img-wrap img"
    );

    header.addEventListener("mouseover", () => {
      logo.src = "../images/logo_wrap/logo_hover.png";
    });
    header.addEventListener("mouseout", () => {
      logo.src = "../images/logo_wrap/logo_not_hover.png";
    });
  }
</script>

<script>
  if (location.pathname.endsWith("index.html") || location.pathname === "/") {
    function headerChange() {
      const mainSlide = document.querySelector(
        ".main-slide-container .swiper.containerSwiper .swiper-wrapper .swiper-slide.swiper-slide-active"
      );
      const textElements = document.querySelectorAll(
        ".header .header-top .header-nav-wrap .nav-wrap .nav"
      );
      const headerLogo = document.querySelector(
        ".header .header-top .com-img-wrap a img"
      );
      const callContainer = document.querySelector(
        ".header .header-top .call-wrap"
      );
      const callIcon = document.querySelector(
        ".header .header-top .call-wrap a i"
      );
      const callText = document.querySelector(
        ".header .header-top .call-wrap a .num"
      );
      const header = document.getElementById("header");
      const headerBody = document.querySelector(".header-top");

      if (mainSlide) {
        const aria = mainSlide.getAttribute("aria-label");


        if (aria === "1 / 5") {
            console.log("1");
          textElements.forEach((el) => {
            el.style.color = ""; // 기본 색상으로 되돌리기
          });
          headerLogo.src = "../images/logo_wrap/logo_not_hover.png";
          callContainer.style.borderColor = "";
          callIcon.style.color = "";
          callText.style.color = "";

          header.addEventListener("mouseover", () => {
            headerLogo.src = "../images/logo_wrap/logo_hover.png";
          });
          header.addEventListener("mouseout", () => {
            headerLogo.src = "../images/logo_wrap/logo_not_hover.png";
          });
        }
        else {
          textElements.forEach((el) => {
            el.style.color = "#202020"; // 특정 색상으로 변경
          });
          headerLogo.src = "../images/logo_wrap/logo_hover.png";
          callContainer.style.borderColor = "#5fc700";
          callIcon.style.color = "#202020";
          callText.style.color = "#202020";

          header.addEventListener("mouseover", () => {
            headerLogo.src = "../images/logo_wrap/logo_hover.png";
          });
          header.addEventListener("mouseout", () => {
            headerLogo.src = "../images/logo_wrap/logo_hover.png";
          });
        }


      }
    }

    // 이벤트 리스너에 올바른 콜백 함수 전달
    window.addEventListener("wheel", headerChange);
    window.addEventListener("load", headerChange);
  }
</script>
